body {
    flex-grow: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.nav-link:hover {
    color: black !important; 
}

.form-control {
    width: 500px;
}
footer {
    margin-top: auto;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

.read {
    background-color: lightgrey;
}

.unread {
    background-color: white;
}