{% extends "auctions/layout.html" %}

{% block body %}

    <div class="row mx-3">
              
        <div style="width: 70rem; ">
            <img class="card-img-top" src="{{ listing.imageUrl }}" alt="Plane image" height="700px">
            <div class="card-body">
              <h5 class="card-title">{{ listing.title }}</h5>
              <h5>Seller: {{ listing.owner }}</h5>
              <p class="card-text" style="height: 15rem;">{{ listing.description }}</p>             
              <h5 class="card-title">Price: ${{ listing.price }}</h5>
              <p class="card-subtitle mb-2 text-muted" style="font-size: 15px;">Created {{ listing.created_at}} </p>
            </div>
          </div>
          
    </div>
    
{% endblock %}
